obj/CinemaManagement.csproj.nuget.dgspec.json
obj/CinemaManagement.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net9.0/CinemaManagement.AssemblyInfo.cs
obj/Debug/net9.0/CinemaManagement.AssemblyInfoInputs.cache
obj/Debug/net9.0/CinemaManagement.assets.cache
obj/Debug/net9.0/CinemaManagement.csproj.AssemblyReference.cache
obj/Debug/net9.0/CinemaManagement.GeneratedMSBuildEditorConfig.editorconfig
