obj/CinemaManagement.csproj.nuget.dgspec.json
obj/CinemaManagement.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net9.0/CinemaManagement.AssemblyInfo.cs
obj/Debug/net9.0/CinemaManagement.AssemblyInfoInputs.cache
obj/Debug/net9.0/CinemaManagement.assets.cache
obj/Debug/net9.0/CinemaManagement.csproj.AssemblyReference.cache
obj/Debug/net9.0/CinemaManagement.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/CinemaManagement.AssemblyInfo.cs
obj/Debug/net9.0/CinemaManagement.AssemblyInfoInputs.cache
README.md
obj/Debug/net9.0/CinemaManagement.AssemblyInfo.cs
obj/Debug/net9.0/CinemaManagement.AssemblyInfoInputs.cache
obj/Debug/net9.0/compressed/1nn360xo5j-5vj65cig9w.gz
obj/Debug/net9.0/compressed/2ogna8obdb-kbynt5jhd9.gz
obj/Debug/net9.0/compressed/4firc3sj1m-56d2bn4wt9.gz
obj/Debug/net9.0/compressed/9e8qf77rbc-wmug9u23qg.gz
obj/Debug/net9.0/compressed/9ot0x3xa57-cwzlr5n8x4.gz
obj/Debug/net9.0/compressed/9q96b5o1uv-c2nslu3uf3.gz
obj/Debug/net9.0/compressed/a0lsep87vd-okkk44j0xs.gz
obj/Debug/net9.0/compressed/dkgqnzix7l-o371a8zbv2.gz
obj/Debug/net9.0/compressed/e0btwmjmxy-2lgwfvgpvi.gz
obj/Debug/net9.0/compressed/f3eq4tr7uc-73kdqttayv.gz
obj/Debug/net9.0/compressed/fe5yzqbdo1-8inm30yfxf.gz
obj/Debug/net9.0/compressed/gaav41oots-jeal3x0ldm.gz
obj/Debug/net9.0/compressed/i1yer2item-vy0bq9ydhf.gz
obj/Debug/net9.0/compressed/k6u8l93llb-4gxs3k148c.gz
obj/Debug/net9.0/compressed/m0ij3fg0ww-u33ctipx7g.gz
obj/Debug/net9.0/compressed/nc3mx5j768-wsezl0heh6.gz
obj/Debug/net9.0/compressed/oc5q8yonrz-fctod5rc9n.gz
obj/Debug/net9.0/compressed/utap0t7kpr-6ukhryfubh.gz
obj/Debug/net9.0/compressed/x18ihn609o-ay5nd8zt9x.gz
