@{
    ViewData["Title"] = "Test Database Connection";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Test Database Connection</h4>
                </div>
                <div class="card-body">
                    <div id="testResults">
                        <p>Testing database connection...</p>
                    </div>
                    <button type="button" class="btn btn-primary" id="testDbBtn">Test Database</button>
                    <button type="button" class="btn btn-info" id="testCustomerBtn">Test Customer Search</button>
                    <button type="button" class="btn btn-warning" id="testVoucherBtn">Test Voucher Calculation</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    console.log('Test page loaded');
    
    $('#testDbBtn').click(function() {
        $.get('@Url.Action("TestDatabase", "BanVe")')
        .done(function(response) {
            console.log('Database test response:', response);
            $('#testResults').html('<div class="alert alert-success"><pre>' + JSON.stringify(response, null, 2) + '</pre></div>');
        })
        .fail(function(xhr) {
            console.error('Database test failed:', xhr);
            $('#testResults').html('<div class="alert alert-danger">Error: ' + xhr.responseText + '</div>');
        });
    });
    
    $('#testCustomerBtn').click(function() {
        var testPhone = '0123456789';
        $.get('@Url.Action("TimKhachHang", "BanVe")', { sdt: testPhone })
        .done(function(response) {
            console.log('Customer search response:', response);
            $('#testResults').html('<div class="alert alert-info"><h6>Customer Search Test (Phone: ' + testPhone + ')</h6><pre>' + JSON.stringify(response, null, 2) + '</pre></div>');
        })
        .fail(function(xhr) {
            console.error('Customer search failed:', xhr);
            $('#testResults').html('<div class="alert alert-danger">Error: ' + xhr.responseText + '</div>');
        });
    });
    
    $('#testVoucherBtn').click(function() {
        var testData = {
            maVoucher: 'TEST001',
            tongTien: 100000
        };
        
        $.ajax({
            url: '@Url.Action("TinhTienGiamGia", "BanVe")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(testData),
            success: function(response) {
                console.log('Voucher test response:', response);
                $('#testResults').html('<div class="alert alert-warning"><h6>Voucher Calculation Test</h6><pre>' + JSON.stringify(response, null, 2) + '</pre></div>');
            },
            error: function(xhr) {
                console.error('Voucher test failed:', xhr);
                $('#testResults').html('<div class="alert alert-danger">Error: ' + xhr.responseText + '</div>');
            }
        });
    });
    
    // Auto-run database test
    $('#testDbBtn').click();
});
</script>
